/**
 * big thanks to: https://github.com/rpabon for his experience in structuring SCSS
 */
@import "./styles/variables";
@import "./styles/mixins";

.imgCenter {
  display: block;
  max-width: 100%;

  @include media(tabletPortrait) {
    margin: 0 auto;
    max-width: 80%;
  }

}

.imgLeft {
  display: block;
  max-width: 100%;

  @include media(tabletPortrait) {
    float: left;
    margin: 3px 20px;
    max-width: 300px;
  }
}

.imgRight {
  display: block;
  max-width: 100%;

  @include media(tabletPortrait) {
    float: right;
    margin: 3px 20px;
    max-width: 300px;
  }
}

.noHighlight {

  div:nth-child(2) {
    color: white !important;
    font-family: Lato,sans-serif;
    font-weight: 300;
  }

}